@import 'tailwindcss';

:root {
  --hero-mask-x: 0;
  --hero-mask-y: 0;
  --hero-mask-size: 300px;
}

@media (max-width: 1028px) {
  :root {
    --hero-mask-size: 200px;
  }
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    color: #303236;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-full max-w-[80rem] px-5 md:px-8;
  }

  .container-narrow {
    @apply mx-auto w-full max-w-[64rem] px-5 md:px-8;
  }

  .container-wide {
    @apply mx-auto w-full max-w-[1408px] px-5 md:px-8;
  }
}

@layer components {
  .clip-path-circle {
    clip-path: circle(var(--hero-mask-size) at var(--hero-mask-x) var(--hero-mask-y));
  }

  .mask-image-circle {
    mask-image: radial-gradient(var(--hero-mask-size) at var(--hero-mask-x) var(--hero-mask-y), #000 20%, transparent);
  }

  .typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    animation:
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  .cursor {
    @apply before:absolute before:bottom-full before:left-1/2 before:size-15 before:-translate-x-1/2 before:rounded-full before:border-2 before:border-[#5683da] before:bg-[url('/images/blue-pin-image.jpg')] before:bg-cover before:bg-center before:content-[''];
    @apply after:absolute after:top-full after:left-1/2 after:size-3 after:-translate-x-1/2 after:rounded-full after:bg-[#5683da] after:content-[''];
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
